.tabs-container {
	border-color: rgb(203 213 225);
	padding: 2rem;
	border-radius: 10px;
}

.dimension {
	width: 50rem;
	width: 100%;
	margin-top: 2rem;
}

.card--content {
	height: 47rem;
	/* overflow-y: scroll; */
	display: flex;
	gap: 1rem;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.container-box {
	padding: 0 15rem;
}

@media screen and (max-width: 1152px) {
	.container-box {
		padding: 0rem;
	}
}
