ul {
    margin-left: 2rem;
    list-style: circle;
}

.contact-grid {
    display: grid;
    grid-template-areas:
        'a b'
        'c d';
    gap: 2rem;
}

#google_translate_element {
    transform: scale(1.3);
}

#google_translate_element > div > span > a {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media only screen and (max-width: 783px) {
    .contact-grid {
        display: flex;
        flex-direction: column;
    }
}
